
html{  background-color: #97C6B6;

}

body  {
    text-align: center;
    font-family: 'Literata', serif;
    color: #000000
}

div  {
  border: .5px solid;
  border-radius: 500px;
  color: #FF6D72;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 7%;
  margin-bottom: 8%;

}

#Qcolor {
    color: #FF6D72
}

#meetsoph {
    color: #000000
}

#QA {
  border: .5px solid;
  border-radius: 800px;
  color: #FF6D72;
  margin-left: 40%;
  margin-right: 40%;
}
